

<!-- //////////////////////////////////////// -->

<section class="custom-background card">


<div class="container-xl px-4 mt-4">
 
  <hr class="mt-0 mb-4">
  <div class="row">
      
      <div class="col-xl-8 offset-xl-2">
          <!-- Account details card-->
          <div class="card mb-4">
              <div class="card-header">Profile  Details</div>
              <div class="card-body">
                  <form>
                    <div >
                      <!-- Profile picture card-->
                      <div >
                          <div class="card-body text-center">
                              <!-- Profile picture image-->
                              <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                              <img
                                  *ngIf="pass === 'null'"
                                  class="rounded-circle"
                                  alt="avatar1"
                                  src="{{ imageGoogle }}"
                                  style="
                                    height: 20vh;
                                    width: 20vb;
                                    border-radius: 1rem 0 0 1rem;
                                    margin: 20px 0;
                                    margin-left: 35%;
                                  "
                                />
                                <div *ngIf="pass !== 'null'" class="form-outline mb-4">
                                  <label class="fw-bold my-1 py-1">Profile Picture</label>
                                  <input
                                    type="file"
                                    (change)="onFileChanged($event)"
                                    class="form-control form-control-lg"
                                  />
                                </div>
                              <!-- Profile picture help block-->
                              <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                              
                          </div>
                      </div>
                  </div>





                      <!-- Form Group (username)-->
                      <div class="mb-3">
                          <label class="small mb-1" for="f">CNIC (00000-0000000-0)</label>
                          <input class="form-control" id="f" type="number" placeholder="Enter your Cnic" [(ngModel)]="cnic" name="cnic">
                          
                      </div>
                      <!-- Form Row-->
                      <div class="row gx-3 mb-3">
                          <!-- Form Group (first name)-->
                          <div class="col-md-6">
                              <label class="small mb-1" for="f">Phone No</label>
                              <input class="form-control" id="f" type="number" placeholder="e.g., +923001234567"
                              [(ngModel)]="phone"
                              name="phoneNumber">
                          </div>

                     

                          <!-- Form Group (last name)-->
                          <div class="col-md-6">
                              <label class="small mb-1" for="f">Age</label>
                              <input class="form-control" id="f" type="number" placeholder="Enter your Age"  [(ngModel)]="age"
                              name="phoneNumber">
                          </div>
                    
                      </div>



                      <!-- Form Row        -->
                      <div class="row gx-3 mb-3">
                          <!-- Form Group (organization name)-->
                          <div class="col-md-6">
                              <label class="small mb-1" for="inputOrgName">Language</label>
                              <input class="form-control" id="inputOrgName" type="language" placeholder="Enter your Languages"name="language"
                              #language>
                          </div>
                     

                          
                          <!-- Form Group (location)-->
                          <div class="col-md-6">
                              <label class="small mb-1" for="location">Location</label>
                              <input class="form-control" id="location" type="text"  placeholder="Click to fetch your current location"
                              name="location"
                              (click)="getLocation()"
                              [(ngModel)]="userLocation"
                              #location>
                          </div>
                          
                    
                      </div>
                      <!-- Form Group (email address)-->
                      <div class="mb-3">
                        <label class="fw-bold my-1 py-1">Your Description</label>
                        <!-- <textarea class="form-control form-control-lg" name="languagesSpoken" placeholder="" rows="4" #description (input)="onDescriptionInput(description.value)" [disabled]="isDescriptionLimitReached"></textarea> -->
                        <textarea
                          class="form-control form-control-lg"
                          name="languagesSpoken"
                          placeholder=""
                          rows="4"
                          #description
                          (input)="onDescriptionInput(description.value)"
                        ></textarea>
                        <div *ngIf="descriptionCount !== null" class="text-muted">
                          {{ descriptionCount }}/100
                        </div>
                      </div>


                      
                      <!-- Form Row-->
                      <div class="row gx-3 mb-3">
                          <!-- Form Group (phone number)-->
                          <div class="col-md-6">
                              <label class="small mb-1" for="inputPhone">Select Gender</label>
                              <div class="btn-group" data-toggle="buttons-level">
                                <label class="btn btn-light-orange">
                                  <input
                                    type="radio"
                                    name="gender"
                                    [(ngModel)]="selectedgender"
                                    value="male"
                                    #gender
                                  />
                                  Male
                                </label>
                                <label class="btn btn-light-orange">
                                  <input
                                    type="radio"
                                    name="gender"
                                    [(ngModel)]="selectedgender"
                                    value="female"
                                    #gender
                                  />
                                  Female
                                </label>
                                <label class="btn btn-light-orange">
                                  <input
                                    type="radio"
                                    name="gender"
                                    [(ngModel)]="selectedgender"
                                    value="non-binary"
                                    #gender
                                  />
                                  Non-binary
                                </label>
                              </div>                          </div>
                          
                        
                      </div>
                      <!-- Save changes button-->
                      <div class="pt-1 mb-4">
                        <button
                          class="btn btn-dark btn-lg btn-block"
                          type="next"
                          (click)="
                            submit_profile(
                              phone ?? 0,
                              gender.value,
                              age ?? 0,
                              location.value,
                              language.value,
                              description.value
                            )
                          "
                        >
                          Next
                        </button>
                      </div>                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
</section>