/* Base CSS for desktop screens */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .boxes_globall {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust column width */
    gap: 20px;
    justify-content: center; /* Center the grid horizontally */
    align-items: center; /* Center the grid vertically */
  }
  
  .boxes_globall .card {
    position: relative;
    background: white;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .boxes_globall .card .numbers {
    font-weight: 500;
    font-size: 1.5rem;
    color: rgb(113, 117, 111);
  }
  
  .boxes_globall .card .name {
    color: var(--black2);
    font-size: 0.8rem;
    margin-top: 5px;
  }
  
  .boxes_globall .card .iconbox {
    font-size: 2rem;
    color: var(--blue);
  }
  
  .boxes_globall .card:hover {
    background: rgb(105, 105, 108);
  }
  
  .boxes_globall .card:hover .numbers,
  .boxes_globall .card:hover .name,
  .boxes_globall .card:hover .iconbox {
    color: white;
  }
  
  /* Media query for mobile screens */
  @media only screen and (max-width: 767px) {
    .boxes_globall {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust column width for smaller screens */
      gap: 10px; /* Adjust gap for smaller screens */
      padding: 10px; /* Adjust padding for smaller screens */
    }
  }
  