<body class="d-flex justify-content-center align-items-center">
    <div class="sub-menu-wrap">
      <div class="user-inform">
        <img src="assets\images\profile_dropdown_logo\user.png" />
        <h3>Mohamin</h3>
      </div>
      
      <!-- Horizontal row -->
      <hr />
      
      <!-- Links -->
      <a href="#" [routerLink]="['/profile-teacher']" class="sub-menu-linking">
        <img src="assets\images\profile_dropdown_logo\profile.png" />
        <p>MY Profile</p>
        <span>></span>
      </a>
      <a href="#" [routerLink]="['/earning']" class="sub-menu-linking">
        <i class="bi bi-cash"></i>
        <p>Earnings</p>
        <span>></span>
      </a>
      <a href="#" [routerLink]="['/gigmanage']" class="sub-menu-linking">
        <i class="bi bi-file-ruled"></i>
        <p>Manage Gigs</p>
        <span>></span>
      </a>
      <a href="#" [routerLink]="['/setting-teacher']" class="sub-menu-linking">
        <i class="bi bi-gear"></i>
        <p>Settings</p>
        <span>></span>
      </a>
      <a href="#" [routerLink]="['/home']" class="sub-menu-linking">
        <img src="assets\images\profile_dropdown_logo\logout.png" />
        <p>Logout</p>
        <span>></span>
      </a>
    </div>
  </body>
  
