.btn-light-orange {
    color: #ffffff; /* Text color */
    background-color: orange; /* Light Orange background color */
    border-color: orange; /* Border color */
}

.btn-light-orange.active {
    background-color: orange; /* Active state background color */
}

.custom-box1 {
    border: 2px solid rgba(255, 166, 0, 0.599); /* Add an orange border with 2px width */
    padding: 20px; /* Add padding for spacing inside the box */
    border-radius: 10px;
}

.custom-box2 {
    border: 2px solid rgba(255, 166, 0, 0.599); /* Add an orange border with 2px width */
    padding: 20px; /* Add padding for spacing inside the box */
    border-radius: 10px;
}

.custom-box3 {
    border: 2px solid rgba(255, 166, 0, 0.599); /* Add an orange border with 2px width */
    padding: 20px; /* Add padding for spacing inside the box */
    border-radius: 10px;
}
.custom-background {
    background-image: url('/assets/images/meetings-bg.jpg'); /* Update with the correct path to your image */
    background-size: cover; /* Ensure the image covers the full area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
   
  }