.btn-light-orange {
    color: #ffffff; /* Text color */
    background-color: orange; /* Light Orange background color */
    border-color: orange; /* Border color */
}

.btn-light-orange.active {
    background-color: orange; /* Active state background color */
}

.custom-box1 {
    border: 2px solid rgba(255, 166, 0, 0.599); /* Add an orange border with 2px width */
    padding: 20px; /* Add padding for spacing inside the box */
    border-radius: 10px;
}

.custom-box2 {
    border: 2px solid rgba(255, 166, 0, 0.599); /* Add an orange border with 2px width */
    padding: 20px; /* Add padding for spacing inside the box */
    border-radius: 10px;
}

.custom-box3 {
    border: 2px solid rgba(255, 166, 0, 0.599); /* Add an orange border with 2px width */
    padding: 20px; /* Add padding for spacing inside the box */
    border-radius: 10px;
}
.custom-background {
    background-image: url('/assets/images/meetings-bg.jpg'); /* Update with the correct path to your image */
    background-size: cover; /* Ensure the image covers the full area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
   
  }


  body {
    background: #ffffff;
    margin: 0; /* Remove default margin */
    overflow-x: hidden; /* Prevent horizontal scroll */
  }
  
  /* Fullscreen video background setup */
  
  .vh-100 {
    height: 100vh; /* Full height of the viewport */
  }
  
  .text-center {
    width: auto; 
    padding: 20px; /* Adequate padding */
    background: rgba(255, 255, 255, 0.8); /* Optional: Visibility enhancement */
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  }