<section style="background-color: #d3d3d3;">
  <div class="container my-5 py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-6">
        <div class="card" style="border-radius: 2rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-12 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form style="margin: 0% 10% 0% 10%;">
                  <h5 class="fw-normal mb-3 pb-3 fs-1" style="letter-spacing: 1px;">
                    Create Gig
                  </h5>



                  <div class="form-outline mb-4">
                    <label class="fw-bold my-1 py-1">Gig Title</label>
                    <div class="input-group">
                      <span class="input-group-text">I will</span>
                      <input type="text" id="title" class="form-control form-control-lg" name="title"
                        [(ngModel)]="title">
                    </div>
                  </div>


                  <div class="form-outline mb-4">
                    <label class="fw-bold my-1 py-1">Year Of Experience</label>
                    <input type="text" id="yearOfExperience" class="form-control form-control-lg"
                      name="yearofexperience" [(ngModel)]="year_Of_Experience">
                  </div>


                  <div class="custom-box1">
                    <div class="row">
                      <div class="col">
                        <label class="fw-bold my-1 py-1">Category</label>
                        <br>
                        <select [(ngModel)]="selectedCategory1" name="selectedCategory1" (change)="onCategoryChange()">
                          <option *ngFor="let cat of categoriesWithSub" [value]="cat.category">{{ cat.category }}
                          </option>
                        </select>
                      </div>
                      <label class="fw-bold my-1 py-1">Sub Category</label>
                      <br>
                      <div class="col" *ngIf="selectedCategory1">

                        <select [(ngModel)]="selectedSubcategory" name="subCategorySelection">
                          <option *ngFor="let subcat of filteredSubcategories" [value]="subcat">{{ subcat }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <br>
                  <br>


                  <div class="form-group mb-4">
                    <label class="fw-bold my-1 py-1">Choose Type</label>
                    <br>
                    <div class="btn-group" data-toggle="buttons-type">
                      <label class="btn btn-light-orange">
                        <input type="radio" name="typeSelectType" value="online" [(ngModel)]="selectedType"> Online
                      </label>
                      <label class="btn btn-light-orange">
                        <input type="radio" name="typeSelectType" value="offline" [(ngModel)]="selectedType"> Offline
                      </label>
                      <label class="btn btn-light-orange">
                        <input type="radio" name="typeSelectType" value="both" [(ngModel)]="selectedType"> Both
                      </label>
                    </div>
                  </div>



                  <div class="form-group mb-4">
                    <label class="fw-bold my-1 py-1">Skill level</label>
                    <br>
                    <div class="btn-group" data-toggle="buttons-type">
                      <label class="btn btn-light-orange">
                        <input type="radio" name="typeSelectSkillLevel" value="Begineer" [(ngModel)]="skillLevel">
                        Begineer
                      </label>
                      <label class="btn btn-light-orange">
                        <input type="radio" name="typeSelectSkillLevel" value="Moderate" [(ngModel)]="skillLevel">
                        Moderate
                      </label>
                      <label class="btn btn-light-orange">
                        <input type="radio" name="typeSelectSkillLevel" value="Expert" [(ngModel)]="skillLevel"> Expert
                      </label>
                    </div>
                  </div>



                  <div class="form-group mb-4">
                    <label class="fw-bold my-1 py-1">Choose level </label>
                    <br>
                    <div class="btn-group" data-toggle="buttons-type">
                      <label class="btn btn-light-orange">
                        <input type="radio" name="typeSelectLevel" value="level1" [(ngModel)]="selectedLevel"> low price
                      </label>
                      <label class="btn btn-light-orange">
                        <input type="radio" name="typeSelectLevel" value="level2" [(ngModel)]="selectedLevel"> low and
                        mid price
                      </label>
                      <label class="btn btn-light-orange">
                        <input type="radio" name="typeSelectLevel" value="level3" [(ngModel)]="selectedLevel"> low , mid
                        and high price </label>
                    </div>
                  </div>



                  <fieldset>
                    <div class="custom-box1">
                      <div class="form-outline mb-4">
                        <h4 style="text-align: center;" class="fw-bold my-1 py-1">Low Price</h4>
                        <hr class="hr">
                      </div>

                      <div class="form-outline mb-4">
                        <label for="languagesSpoken" class="fw-bold my-1 py-1">Description about price</label>
                        <textarea class="form-control form-control-lg" name="" placeholder="" rows="4"
                          #level_1_Description></textarea>
                        <br>
                        <hr class="hr">
                      </div>

                      <div class="form-outline mb-4">
                        <label class="fw-bold my-1 py-1">Price</label>
                        <input type="schoolname" id="f" class="form-control form-control-lg" placeholder=""
                          name="priceLevel1" [(ngModel)]="Price1" #level_1_Price>
                      </div>

                      <!-- Checkbox for Low Price -->
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="priceCheckbox1" name="confirmPrice"
                          value="price1" [(ngModel)]="selectedPrice1" (change)="updateSelectedPrice('price1', $event)">
                        <label class="form-check-label" for="priceCheckbox1">
                          Tick it for Display this price on users home
                        </label>
                      </div>




                    </div>

                  </fieldset>
                  <br>
                  <br>

                  <fieldset [disabled]="selectedLevel === 'level1'">
                    <div class="custom-box1">
                      <div class="form-outline mb-4">
                        <h4 style="text-align: center;" class="fw-bold my-1 py-1">Mid Price</h4>
                        <hr class="hr">
                      </div>

                      <div class="form-outline mb-4">
                        <label for="languagesSpoken" class="fw-bold my-1 py-1">Description about price</label>
                        <textarea class="form-control form-control-lg" name="" placeholder="" rows="4"
                          #level_2_Description></textarea>
                        <br>
                        <hr class="hr">
                      </div>

                      <div class="form-outline mb-4">
                        <label class="fw-bold my-1 py-1">Price</label>
                        <input type="schoolname" id="f" class="form-control form-control-lg" placeholder=""
                          name="priceLevel2" [(ngModel)]="Price2" #level_2_Price>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="priceCheckbox2" name="confirmPrice"
                          value="price2" [(ngModel)]="selectedPrice2" (change)="updateSelectedPrice('price2', $event)">
                        <label class="form-check-label" for="priceCheckbox2">
                          Tick it for Display this price on users home
                        </label>
                      </div>
                    </div>
                  </fieldset>


                  <br>
                  <br>

                  <fieldset [disabled]="selectedLevel === 'level1'  || selectedLevel === 'level2'">
                    <div class="custom-box1">
                      <div class="form-outline mb-4">
                        <h4 style="text-align: center;" class="fw-bold my-1 py-1">High Price</h4>
                        <hr class="hr">
                      </div>

                      <div class="form-outline mb-4">
                        <label for="languagesSpoken" class="fw-bold my-1 py-1">Description about price</label>
                        <textarea class="form-control form-control-lg" name="" placeholder="" rows="4"
                          #level_3_Description></textarea>
                        <br>
                        <hr class="hr">
                      </div>

                      <div class="form-outline mb-4">
                        <label for="f" class="fw-bold my-1 py-1">Price</label>
                        <input type="text" id="f" class="form-control form-control-lg" placeholder="Enter price level"
                          name="priceLevel3" [(ngModel)]="Price3" #level_3_Price>
                        <!-- Additional checkbox input -->
                        <br>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="priceCheckbox3" name="confirmPrice"
                            value="price3" [(ngModel)]="selectedPrice3"
                            (change)="updateSelectedPrice('price3', $event)">
                          <label class="form-check-label" for="priceCheckbox3">
                            Tick it for Display this price on users home
                          </label>
                        </div>
                      </div>


                    </div>
                  </fieldset>






                  <br>
                  <br>



                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit"
                      (click)="gigInfoAdd(  title , year_Of_Experience  , selectedType  , skillLevel , selectedLevel  , level_1_Description.value  ,  level_1_Price.value  , level_2_Description.value  , level_2_Price.value  ,  level_3_Description.value  , level_3_Price.value , selectedCategory1, selectedSubcategory)">
                      Submit
                    </button>
                  </div>

                  <div class="pt-1 mb-4">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>