

<section class="custom-background" (submit)="onLogin(email.value, password.value)">
  

  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-8 col-lg-6">
        <div class="card" style="border-radius: 1rem">
          <div class="card-body p-4 p-lg-5 text-black">
            <!-- Placeholder for logo -->
            <div class="d-flex align-items-center mb-3 pb-1">
              <img src="assets\images\logo2.svg" alt="Logo" height="60" />
            </div>
            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
              Sign into your account
            </h5>

            <form>
              <div class="form-outline mb-4">
                <input
                  type="email"
                  id="email"
                  class="form-control form-control-lg"
                  #email
                />
                <label class="form-label" for="email">Email address</label>
              </div>

              <div class="form-outline mb-4">
                <input
                  type="password"
                  id="password"
                  class="form-control form-control-lg"
                  #password
                />
                <label class="form-label" for="password">Password</label>
              </div>

              
              
              <div class="login-options">
                <button
                type="button"
                class="btn btn-dark btn-lg"
                (click)="onLogin(email.value, password.value)">
                Login
            </button>
            
            
                <span class="or-text">OR</span>
            
                <div id="google-btn" class="google-btn-small"></div>
            </div>
            
              

              

            <div class="link-container">
              <a class="link-forgot-password" href="#" [routerLink]="['/forget-pin']">Forgot password?</a>
              <p class="link-signup-text">
                Don’t have an account?
                <a class="link-signup" href="#" [routerLink]="['/signup']">Register here</a>
              </p>
              <div class="link-policy">
                <a class="link-terms" href="#!" [routerLink]="['/privacypolicy']">Terms of use</a>
                <a class="link-privacy" href="#!" [routerLink]="['/privacypolicy']">Privacy policy</a>
              </div>
            </div>
            
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
