 <html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

<body class="video-background">
  <video autoplay muted loop id="myVideo">
    <source src="assets/images/course-video.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>

  
</body>




<div class="container  mx-auto  ">
 
  <div class="row gx-4 gx-lg-5 align-items-center my-5 ">
    
        <div class="vh-100 d-flex align-items-center justify-content-center">
          <div class="text-center">
              <h2 class="font-weight-light">"SkillMentor allowed me to make a living without leaving home!"</h2>
              <p class="my-3">you are not sign up. click below to sign up</p>
              <a class="btn btn-outline-secondary btn-lg mt-2" [routerLink]="['/signup']">Sign up</a>
          </div>
      </div>
      
  </div>
 </div>
</html> 

